/* 1. General Styling */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-white: #ffffff;
  --clr-white-rgb: 255, 255, 255;
  --clr-blue: #2782bb;
}
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

/* 2. Main Styling */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #141e30,
    #243b55
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #141e30,
    #243b55
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* 3. start button styling */

.start-btn {
  letter-spacing: 0.3rem;
  min-width: 14rem;
  padding: 2rem;
  border-radius: 0.4rem;
  font-weight: bold;
  font-size: 1.8rem;
  background-color: var(--clr-blue);
  color: white;
  border: none;
  animation: radiate 2.2s infinite;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.start-btn:hover {
  transform: scale(1.1);
  animation: none;
  box-shadow: 0 0 30px 15px var(--clr-blue),
    0 0 45px 25px rgba(var(--clr-white-rgb), 1);
}

/* 4. intro rule section Styling */
.section-container .header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  border-radius: 0.4rem 0.4rem 0 0;
  color: white;
  letter-spacing: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.content-section-title {
  margin: 0 0 0 2rem;
  font-size: 4rem;
  display: flex;
  justify-content: flex-start;
  padding: 1.4rem 0;
}

.rule-list,
.choice-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  font-weight: 900;
  margin: 2rem 2rem;
}
.rule-item {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
.rule-item:last-child,
.choice-item:last-child {
  margin-bottom: 0;
}

.section-container {
  display: flex;
  flex-direction: column;
  width: 60rem;
  max-width: 90vw;
  height: 60rem;
  border-radius: 0.4rem;
  letter-spacing: 0.2rem;
  color: #000000;
  background-color: var(--clr-white);
  box-shadow: 0 0 4rem 2rem rgba(var(--clr-white-rgb), 0.3);
}

.footer {
  display: flex;
  justify-content: center;
}

.btn {
  width: 14rem;
  padding: 1.8rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background-color: #000000;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.btn:hover {
  background-color: green;
  animation: pulse 1.2s infinite;
}

.fa-circle-right {
  margin-left: 0.3rem;
}

/* Question Container Styles */

.application-title {
  margin: 0 0 0 2rem;
}

.fa-js {
  color: yellow;
  margin-right: 3rem;
  transform: scale(2);
}

.question-section-title {
  margin-left: 2rem;
}

.choice-item {
  padding: 0.2rem;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
  padding: 2rem 0;
  cursor: pointer;
}

.choice-item:hover {
  background-color: #414141;
  transition: background-color 0.3s ease-in-out;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.8rem 0.8rem 1.8rem 0;
}
.hud-wrapper {
  display: flex;
}

.hs-hud {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 900;
  border: 2px solid white;
  border-radius: 0.4rem;
  padding: 1rem;
  background-color: crimson;
  margin-right: 1rem;
  width: 6.4rem;
}
.time-bar {
  width: 100%;
  background-color: green;
  height: 1rem;
}
.timer-hud {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 900;
  border: 2px solid white;
  border-radius: 0.4rem;
  padding: 1rem;
  margin-right: 0.2rem;
  background-color: orange;
  width: 6.4rem;
}

/* Form section styles */

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-section-title {
  text-align: center;
  font-size: 3rem;
}
.form-control {
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 85%;
  height: 15rem;
}

.form-input {
  font-size: 1.8rem;
  font-weight: bold;
  border: none;
  border-radius: 0.4rem;
  width: 80%;
  padding: 1rem;
}
.bs-display {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem;
}

.submit-btn {
  background-color: yellow;
  border: none;
  border-radius: 0.4rem;
  width: 14rem;
  padding: 1.5rem;
  font-weight: bold;
  font-size: 1.8rem;
  animation: radiate 2s infinite;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #32cd32;
  color: white;
  animation: none;
}
.form-btns {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.playagain-btn {
  width: 14rem;
  padding: 1.5rem;
  border: none;
  border-radius: 0.4rem;
  background-color: yellow;
  font-weight: bold;
  font-size: 1.8rem;
  cursor: pointer;
  text-decoration: none;
}

.playagain-btn:hover {
  background-color: #32cd32;
  color: white;
}
.fa-crown {
  color: crimson;
  transform: scale(1.2);
  margin-right: 2rem;
}
.fa-crown:hover {
  color: gold;
}

/* Highscore section styling */

#highscore-section .hs-header {
  background-color: darkred;
  background-image: none;
}

.footer .playagain-btn {
  margin-bottom: 2rem;
}
.footer {
  height: 5rem;
}
/* keyframes */

@keyframes radiate {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--clr-white-rgb), 1);
  }

  70% {
    box-shadow: 0 0 4rem 2rem rgba(var(--clr-white-rgb), 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(var(--clr-white-rgb), 0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
